aside.sidebar.a-left.f-right
  nav.social.widget
    ul
      li
        a(href='#')
          img(src='assets/images/twitter.png')
      li
        a(href='#')
          img(src='assets/images/facebook.png')
      li
        a(href='#')
          img(src='assets/images/instagram.png')
      li
        a(href='#')
          img(src='assets/images/youtube.png')
      li
        a(href='#')
          img(src='assets/images/pinterest.png')
      li
        a(href='#')
          img(src='assets/images/feed.png')
  .search.widget.b-bottom-gray
    form
      input.input-text(type='text', placeholder='BUSCA AQUI Ó')
      input.input-submit(type='submit', value='')
  .highlights-post-sidebar.widget.b-bottom-gray
    img.highlights-post-sidebar-img(src='assets/images/hightlight-canal-modomeu.png')
    h3
      a(href='#') Nossa coleção de Star Wars
  .newsletter.widget.newsletter-subscription
    script(type='text/javascript').
      //<![CDATA[
      if (typeof newsletter_check !== "function") {
      window.newsletter_check = function (f) {
      var re = /^([a-zA-Z0-9_\\.\-\+])+\@(([a-zA-Z0-9\-]{1,})+\.)+([a-zA-Z0-9]{2,})+$/;
      if (!re.test(f.elements["ne"].value)) {
      alert("The email is not correct");
      return false;
      }
      if (f.elements["nn"] && (f.elements["nn"].value == "" || f.elements["nn"].value == f.elements["nn"].defaultValue)) {
      alert("The name is not correct");
      return false;
      }
      for (var i=1; i<20; i++) {
      if (f.elements["np" + i] && f.elements["np" + i].required && f.elements["np" + i].value == "") {
      alert("");
      return false;
      }
      }
      if (f.elements["ny"] && !f.elements["ny"].checked) {
      alert("You must accept the privacy statement");
      return false;
      }
      return true;
      }
      }
      //]]>
    h2 RECEBA NOSSOS E-MAILS
    h5 CHEIOS DE AMOR
    form(method='post', action='http://localhost/modomeu/?na=s', onsubmit='return newsletter_check(this)')
      input.input-text(type='text', name='nn', placeholder='NOME', required='')
      input.input-text(type='email', name='ne', placeholder='E-MAIL', required='')
      input.input-submit.newsletter-email(type='submit', value='Enviar')
  .adsense.widget
    .box
      | publicidade
  .pinterest-box.widget
    h2 Pinterest
  .facebook-box.widget
    h2 Já curtiu?!
    .fb-like-box(data-href='https://www.facebook.com/ModoMeu', data-colorscheme='light', data-show-faces='true', data-header='false', data-stream='false', data-show-border='false')
  .adsense.widget
    .box
      | publicidade
.feed-instagram.f-left
h3
  a(href='#') @modomeu
  ul