aside.sidebar.a-left.f-right
  nav.social.widget
    ul
      li
        a(href='#')
          img(src='assets/images/twitter.png')
      li
        a(href='#')
          img(src='assets/images/facebook.png')
      li
        a(href='#')
          img(src='assets/images/instagram.png')
      li
        a(href='#')
          img(src='assets/images/youtube.png')
      li
        a(href='#')
          img(src='assets/images/pinterest.png')
      li
        a(href='#')
          img(src='assets/images/feed.png')
  .search.widget.b-bottom-gray
    form
      input.input-text(type='text', placeholder='Busque o que deseja')
      input.input-submit(type='submit', value='')  
  .adsense.widget
    .box
      | publicidade