div.container-full.f-left
  div.feed-instagram.f-left
    h3
      a(href='#') @modomeu
    ul

footer.main-footer-container.f-left.a-center
  a.button-back-to-top(href='#')
    img(src='assets/images/arrow-up-white.png')
  .footer.margin-auto
    .logo-modo-meu.widget
      a(href='#')
        img(src='assets/images/logo-modo-meu-white.png')
      .copyright
        | Modo Meu - All
        br
        |                     Rights Reserved
        br
        |                     2009/2014 ©
    .archive.widget
      | Veja os posts mais antigos do blog de forma mais fácil
      select
        option SELECIONE O MÊS
        option Setembro (10)
        option Agosto (20)
        option Julho (30)
        option Junho (18)
    .partners.widget
      ul
        li.a-right Parceiros<br />Modo Meu
        li
          a(href='#')
            img.logo-partner(src='assets/images/logo-partner.png', alt='')
        li
          a(href='#')
            img.logo-partner(src='assets/images/logo-partner.png', alt='')
        li
          a(href='#')
            img.logo-partner(src='assets/images/logo-partner.png', alt='')
        li
          a(href='#')
            img.logo-partner(src='assets/images/logo-partner.png', alt='')
        li
          a(href='#')
            img.logo-partner(src='assets/images/logo-partner-aleph.png', alt='')
    ul.social-footer.widget
      li
        a.social.twitter(href='#')
      li
        a.social.facebook(href='#')
      li
        a.social.feed(href='#')
      li
        a.social.youtube(href='#')
      li
        a.social.pinterest(href='#')
      li
        a.social.instagram(href='#')
      li
        a.social.twitch(href='#')
  .footer-modocromatico.a-center.f-left
    .text.a-right.f-left
      | Site planejado, produzido e
      br
      | pertencente ao Modocromático ©
    .logo-container.a-left.f-left
      a.logo-modocromatico(href='#')
        img(src='assets/images/logo-modocromatico.png')

script(src="node_modules/jquery/dist/jquery.js")
script(src="assets/js/scripts.js")
