head
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(charset="UTF-8") 
  title Home - Modo Meu 2018
  
  
  link(rel = "shortcut icon" href = "assets/images/modo-meu-fav-ico.ico", type="image/x-icon")
  link(rel = "icon" href = "assets/images/modo-meu-fav-ico.ico", sizes="32x32")

  link(rel = "stylesheet" href = "assets/css/reset.css", type='text/css')

  link(rel = "stylesheet" href = "https://fonts.googleapis.com/css?family=Open+Sans:400,700", type='text/css')
  link(rel = "stylesheet" href = "https://fonts.googleapis.com/css?family=Assistant:400,600,700,800", type='text/css')

  link(rel = "stylesheet" href = "assets/css/modo-meu-style.css", type='text/css')
