section.content-highlights
  div.highlights-home
    div.highlight-home-first.opacity-background-white.b-bottom-gray
      div.highlight-home-first-img
        img(src="assets/images/image-post.png")
      div.highlight-home-text
        h3.category.games
          a(href="#") Games
        h2.highlight-home-title
          a(href="#") Resumo da E3 2018 - Terceiro Dia Parte 01 | Square Enix ...
      div.post-meta
        p 12/06/2018
        p
          | Autor: 
          a(href='#') Diego Celedonio

    div.highlight-home-secondaries
      div.highlight-home-secondary.highlight-home-second.opacity-background-white.b-bottom-gray
        div.highlight-home-secondary-img
          img(src="assets/images/image-post-01.png")
        div.highlight-home-text
          h3.category.games
            a(href="#") Games
          h2.highlight-home-title
            a(href="#") Resumo E3 2018 - Segundo Dia - Parte 01 ...
          div.post-meta
            p 11/06/2018
            p
              | Autor: 
              a(href='#') Dyego Cruz

      div.highlight-home-secondary.highlight-home-second.opacity-background-white.b-bottom-gray
        div.highlight-home-secondary-img
          img(src="assets/images/image-post-02.png")
        div.highlight-home-text 
          h3.category.games
            a(href="#") Games
          h2.highlight-home-title
            a(href="#") Resumo E3 2018 - Segundo Dia - Parte 02 ...
          div.post-meta
            p 11/06/2018
            p
              | Autor: 
              a(href='#') Dyego Cruz
