section.content-highlights
  div.highlights-home
    div.highlight-home-first.opacity-background-white.b-bottom-gray
      div.highlight-home-first-img
        img(src="assets/images/image-post.png")
      div.highlight-home-text
        h3.category.design
          a(href="#") Design
        h2.highlight-home-title
          a(href="#") O que é Sangria? | Quiz de design para leigos
      div.post-meta
        p 28/09/2017
        p
          | Autor: 
          a(href='#') Dyego Cruz

    div.highlight-home-secondaries
      div.highlight-home-secondary.highlight-home-second.opacity-background-white.b-bottom-gray
        div.highlight-home-secondary-img
          img(src="assets/images/image-post-01.jpg")
        div.highlight-home-text
          h3.category.musica
            a(href="#") Música
          h2.highlight-home-title
            a(href="#") Fuuka – música, sonhos e atitudes
          div.post-meta
            p 30/08/2017
            p
              | Autor: 
              a(href='#') Dyego Cruz

      div.highlight-home-secondary.highlight-home-second.opacity-background-white.b-bottom-gray
        div.highlight-home-secondary-img
          img(src="assets/images/image-post-02.jpg")
        div.highlight-home-text 
          h3.category.literatura
            a(href="#") Literatura
          h2.highlight-home-title
            a(href="#") Muita ação e correria com Coração de Aço
          div.post-meta
            p 08/08/2017
            p
              | Autor: 
              a(href='#') Dyego Cruz