menu.menu-top
  nav(class="margin-auto", role="navigation")
    ul.display-inline.f-left
      li
        a(href="#") Sobre
      li
        a(href="#") Anunciar
      li
        a(href="#") Contato
    ul.display-inline.f-right.a-right
      li
        a(href="#", class="link-rosa") Modo Meu no Youtube
      li
        a(href="#", class="link-rosa") [513] Design
      li
        a(href="#", class="link-rosa") [513] Podcast

menu(class="menu-floating", style="display: none;")
  nav(role="navigation")
    ul
      li.logo
        a(href="#")
          img(src="assets/images/logo-modo-meu-mm.png")
      li
        a(href="#") Cinema & TV
      li
        a(href="#") Colunas
      li
        a(href="#") Design
      li
        a(href="#") Evento
      li
        a(href="#") Fotografia
      li
        a(href="#") Game
      li
        a(href="#") Internet
      li
        a(href="#") Música
      li
        a(href="#") Podcast