section.post-list
  article.post
    div.post-image
      img(src="assets/images/image-post-02.jpg")
    div.post-text
      h3.category.literatura
        a(href="#") Literatura
      h2.post-title
        a(href="#") Muita ação e correria com Coração de Aço | Resenha
    div.post-meta
      p 08/08/2017
      p
        | Autor: 
        a(href='#') Dyego Cruz
  article.post
    div.post-image
      img(src="assets/images/image-post-02.jpg")
    div.post-text
      h3.category.cinema-e-tv
        a(href="#") Cinema e TV
      h2.post-title
        a(href="#") Star Trek – Portal do Tempo de A. C. Crispin | Resenha
    div.post-meta
      p 08/08/2017
      p
        | Autor: 
        a(href='#') Dyego Cruz
  article.post
    div.post-image
      img(src="assets/images/image-post-02.jpg")
    div.post-text
      h3.category.games
        a(href="#") Games
      h2.post-title
        a(href="#") Alto’s Adventure, simulando o snowboarding atrás de lhamas
    div.post-meta
      p 08/08/2017
      p
        | Autor: 
        a(href='#') Dyego Cruz
  article.post
    div.post-image
      img(src="assets/images/image-post-02.jpg")
    div.post-text
      h3.category.tecnologia
        a(href="#") Tecnologia
      h2.post-title
        a(href="#") Deixando seus pensamentos mais estilosos com Notegraphy
    div.post-meta
      p 08/08/2017
      p
        | Autor: 
        a(href='#') Dyego Cruz
a(href="#" class="btn btn-others") VEJA MAIS