/* Mobile  */
@media only screen and (min-width: @screen-mobile-1) {
    .menu-top { display: none; }

	.header {
        .menu-category {
            li {
                
            }
        }
    }

    .content-highlights {
        display: none;
    }    

    .main-content {
        .content{
            width: 100%;

            .posts-related {
                ul {
                    li {
                        width: 47%;
                        margin-bottom: 5%;
                    }
                }
            }
        }

        .content-posts {
            .post {

                .post-header {
                    .title { 
						width: 100%;
						padding: 10px; 
					}
                }

                .post-footer {
                    .post-footer-tags {
                        width: 100%;
                    }
                    .post-footer-comments {
                        text-align: center;
                        width: 100%;
                    }
                }
            }

            .post-list {
                width: 100%;
            }

            .post-footer-info {
                padding-left: 0;

                .post-footer-author-photo {
                    text-align: center;
                }

                .post-footer-author {
                    border-top: 2px solid @color-border;
                }                
            }            
        }

        .content-pages {
            .content-highlights {
                .highlights-internal { display: none; }
            }

            .content-page {
                .text-page { width: 90%; }

                .template-page {
                    .editores {
                        .editor {
                            width: 100%;
                            margin-bottom: 5%;

                            .social {
                                margin-top: 2%;
                                width: 100%;
                            }
                        }
                    }
                    .colaboradores {
                        .colaborador {
                            width: 45%;
                        }
                    }
                }
            }
        }
    }    

    .main-footer-container {

        .footer {
            .widget { width: 95%; text-align: center; }
            .social-footer { width: 50%; /*margin: 0 28%;*/ }
            .archive { margin: 4% 2%; }
        }

        .footer-benjamin {
            .logo-container {
                padding-top: 3%;
            }
        }
    }
}

/* Mobile landscape */
@media only screen and (min-width: @screen-mobile-2) and (orientation: landscape) {
    .menu-top { display: none; }

    .content-highlights {
        display: none;
    }

    .main-content {
        .content{

            .content-posts {
                .post {
                    .post-content{
                        margin: 0;
                    }                  
                }           
            }

            .posts-related {
                ul {
                    li { width: 23%; }
                }
            }
        }

        .content-pages {
            .content-highlights {
                .highlights-internal { display: none; }
            }

            .content-page {
                .template-page {
                    .editores {
                        .editor {
                            .social { width: 50%; }
                        }
                    }
                    .colaboradores {
                        .colaborador { width: 29%; }
                    }
                }
            }
        }

        .content, .content-pages {
            .content-highlights {
                .highlights-internal {
                    a {
                        color: @color-roxo;
                        .highlight-title { display: block; }
                    }
                }
            }
        }
    }

    .main-footer-container {

        .footer {
            .social-footer { margin: 4% 38%; width: 25%; }
        }

        .footer-benjamin {
            .logo-container { padding-top: 0.3%; }
        }
    }

    .sidebar { width: 100%; }

}

/* Tablet */
@media only screen and (min-width: @screen-tablet) {

    .content-highlights {
        display: block;
    }

    .main-content {

        .content-posts {
            .post {
                .post-footer {
                    .post-footer-tags {
                        width: 45%;
                    }
                    
                    .post-footer-comments {
                        width: 20%;
                    }
                }
            }

            .post-list {
                width: 45%;
            }
        }

        .content-pages {
            .content-highlights {
                .highlights-internal { display: block; width: 100%; }
            }

            .content-page {
                .text-page { width: 53%; }

                .template-page {
                    .editores {
                        .editor {
                            width: 50%;
                            margin-bottom: 0;

                            .social { margin-top: 5%; }
                        }
                    }
                    .colaboradores {
                        .colaborador { width: 20%; }
                    }
                }
            }
        }
    }

    .main-footer-container {
        .footer{
            .widget { text-align: left; }
            .logo-modo-meu{ width: 8%; }            
            .archive { 
                width: 14%;
                margin: 4% 2%; 
            }
            .partners { width: 53%; }
            .social-footer { width: 12%; margin: 4% 0 0 0; }
        }
    }
}

/* Tablet landscape */
@media only screen and (min-width: @screen-tablet) and (orientation: landscape) {

    .main-content {
        .content { 
            width: 100%;
        }

        .content-posts {
             .post-footer-info {
                padding-left: 15%;
                
                .post-footer-author-photo {
                    display: block;
                    position: absolute;
                    left: 2%;
                    top: -5px;
                }

                .post-footer-author {
                    border-top: none;
                }
             }
        }
    }

    .sidebar { width: 32%; }
    
}

/* Desktop */
@media only screen and (min-width: @screen-desktop) {

    .menu-top { display: block; }    

    .header {
        .menu-category {
            li {
                padding: 0px;
            }
        }
    }

    .main-content {

        .content-pages {
            width: 100%;

            .content-highlights {
                width: 100%;

                .highlights-internal { width: 66%; }
                .sidebar{ .f-right(); }
            }
        }

        .content, .content-pages {
            .content-highlights {
                .highlights-internal {
                    a {
                        .highlight-title { display: none; }
                        &:hover {
                            color: @color-roxo;
                            .highlight-title { display: block; }
                        }
                    }
                }
            }
        }
    }

    .sidebar {  display: block; }
}